__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

venv/
.venv/
env/
bin/
lib/
include/

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

.vscode/

.env
*.log

.pytest_cache/
.nosepy
nosetests.xml
coverage.xml
*.cover
.hypothesis/